<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeetBot - {% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;  /* Preferred icon size */
            display: inline-block;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
            user-select: none;

            /* Support for all WebKit browsers. */
            -webkit-font-smoothing: antialiased;
            /* Support for Safari and Chrome. */
            text-rendering: optimizeLegibility;

            /* Support for Firefox. */
            -moz-osx-font-smoothing: grayscale;

            /* Support for IE. */
            font-feature-settings: 'liga';
            display: inline-flex;
            vertical-align: text-bottom;
        }
        body {
            padding: 0;
            margin: 0;
            background: #141517;
            color: #FFF;
            font-family: 'Open Sans', sans-serif;
            width: 100vw;
            height: 100vh;
            flex-direction: column;
        }
        * {
            box-sizing: border-box;
        }
        .menubar {
            height: 80px;
            background-color: #2f3336;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        .btn-group {
            display: flex;
            align-items: center;
            height: 100%;
        }
        .button:hover {
            background-color: #778188;
        }
        .button, .icon {
            padding: 8px;
            height: 80px;
            display: flex;
            align-items: center;
            background-color: #2f3336;
        }
        .button {
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;
        }
        .menubar .icon .material-icons {
            transform: rotateZ(360deg);
            transform-origin: center;
            transition: transform 0.5s ease-in-out;
        }
        .menubar .icon:hover .material-icons {
            transform: rotateZ(0deg);
        }
        .canvas {
            width: 100vw;
            height: calc(100vh - 80px);
        }
        .user {
            display: flex;
            align-items: center;
            flex-direction: row;
        }
        .user .text {
            margin-right: 4px;
        }
        .user img {
            width: 24px;
            height: 24px;
            border-radius: 24px;
        }
    </style>
    {% block style %}{% endblock %}
    {% block script %}{% endblock %}
</head>
<body>
    <div class="menubar">
        <div class="left btn-group">
            <div class="icon">
                <span class="material-icons" title="BeetBot! Ain't he cute?">smart_toy</span>
            </div>
            <div class="button">Modmail</div>
            <div class="button">Audit log</div>
        </div>
        <div class="right btn-group">
            <div class="button" onclick="window.location.href = '/api/v1/logout'">
                <div class="user">
                    <div class="text">Log out <span id="current-user-name"></span></div>
                    <img id="current-user-avatar" src="">
                </div>
            </div>
        </div>
    </div>
    <div id="canvas">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
