{% extends "/app/base.html" %}
{% block title %}Modmail{% endblock %}
{% block style %}
<style>
    #canvas {
        display: flex;
    }
</style>
{% endblock%}
{% block script %}
<script>
    const HOST = window.location.href.split("/")[2];
    const PROTO = window.location.href.split("/")[1];
    const getAvatarFormat = (avatar) => {
        if(avatar.startsWith("a_")) {
            return "gif";
        }
        return "png";
    }
    window.users = {};

    const generateTicketPanel = async(ticket) => {
        let userReqUrl = `${PROTO}//${HOST}/api/v1/user/${ticket.userId}`;
        let cache = await caches.open("users");
        let data = cache.match(userReqUrl) 
        
        let avatarFormat = getAvatarFormat(user.avatar);
        let avatarURL = `https://cdn.discordapp.com/avatars/${ticket.userId}/${user.avatar}.${avatarFormat}`;
        let html = `
        <div class="ticket">
            <div class="metadata">
                <div class="name"><span class="username">${user.username}</span>#<span class="discriminator">${user.discriminator}</span></div>
                <img class="avatar" src="${avatarURL}"/>
            </div>
            <div class="ticket-body">${ticket.message}</div>
        </div>
        `
        var obj = document.createElement("div");
        obj.innerHTML = html;
        return obj;
    }

    window.onload = async() => {
        let req = await fetch(`${PROTO}//${HOST}/api/v1/user/@me`);
        let resp = await req.json();
        let user = resp.data.user;
        let userGuilds = resp.data.guilds;
        let avatarFormat = getAvatarFormat(user.avatar);
        let avatarURL = `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.${avatarFormat}`
        document.getElementById("current-user-name").innerHTML = user.username;
        document.getElementById("current-user-avatar").src = avatarURL;
        let container = document.getElementById("canvas");
        let msgReq = await fetch(`${PROTO}//${HOST}/api/v1/tickets`)
        let msgs = await msgReq.json();
        msgs.data.forEach(async(element) => {
            let obj = await generateTicketPanel(element);
            container.appendChild(obj);
        });
    };

</script>
{% endblock%}
{% block content %}
{% endblock%}